.home {
    /*background-color: white;*/
    height: 99.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    /*background: #4e5d6c;*/
    background:  #659dbd;
}




.home_container {
    /*margin: 80px auto;*/


    margin-top: 115px ;
    background-color: #e6e9ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 30%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 30px;
}

.home_container > h1 {
    font-weight: 500;
    margin-bottom: 20px;

}

.home_container > form > h5 {
    margin-top: 15px;
    padding: 12px 12px 5px 0;
    display: inline-block;

}

.home_container > form > input {
    height: 35px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    color: black;
    cursor: text;
    border: 1px solid gray;

}
.home_container>form>input:focus{
    border: 1px solid;
    outline-width: 0;

}

.home_container > p {
    margin-top: 15px;
    font-size: 12px;
}


.home_container>h5{
    margin-top: 25px;
}

.home_container>form>button{
    background-color: #df691a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.home_container>form>button:focus{
    outline-width: 0;
}
.home_container>form>button:hover{
    background-color: rgb(290, 150, 90);
}


@media only screen and (max-width:600px) {
    .home_container {
        width: 80%;
    }
}
.home_header{
    text-align: center;
    background: #4e5d6c;
    margin-left: -31px;
    margin-right: -31px;
    margin-top: -31px;
    padding: 20px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
